// Global styling for this template
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
#nirmalizs-face {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  height: 475px;
  width: 475px;

}

section#contact {
  position: relative;
}


.talk-bubble {
  margin: 0% 0% 94% -83%;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  z-index: 99999;
  transform: rotate(-19deg);
	background-color: white;
}
.b-bub{
  border: 8px solid black;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.b-bub.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: black transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}
.thor-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.talk-bub-container {
  position: relative;
  // z-index: 99999;
  // transform: rotate(-20deg);
}
/* Right triangle, left side slightly down */
.tri-right.b-bub.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: black black transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.b-bub.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent black;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.b-bub.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: black transparent transparent black;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.b-bub.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: black black transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent black;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.b-bub.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: black black transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
ul#project-desc {
  display: flex;
  width: 130%;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}
button.btn:hover {
  cursor: pointer;
}
li.project-col {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 100%
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */

li.project-date-col {
  width: 40%;
}

li.project-partner-col {
  overflow-x: visible;
  width: 64%;
  margin-bottom: 40px;
}
strong.desc-header {
  display: flex;

  font-size: 2rem;


}


a.partner-link {
  font-size: 1.3rem;
  margin: 5px 0px 5px 0px
}
span.project-date {
  font-size: 1.5rem;
  padding: 0px;

}
/* Right triangle, right side slightly down*/
.tri-right.b-bub.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: black transparent transparent black;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.b-bub.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: black transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
div.talktext{
  font-family: 'Amatic SC',cursive;
    padding: 0.80em 0.75em 0.15em 0.75em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
    line-height: 20px;

}

.thor-pic {
  position: absolute;
  right: 50px;
  bottom: 0px;
  height: 250px;
  width: auto;
  z-index: 99998;
}
.profile-container {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: center;
}
.prof-img {
  position: absolute;
      top: 0px;
      left: -39px;
}
p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}
a,
a.active,
a:active,
a:focus,
a:hover {
  color: $theme-success;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}
hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  color: white;
  background-color: $theme-success;
}

hr.star-primary {
  border-color: $theme-primary;
}
hr.star-primary:after {
  color: $theme-primary;
  background-color: white;
}

.img-centered {
  margin: 0 auto;
}

section {
  padding: 100px 0;
  h2 {
    font-size: 3em;
    margin: 0;
  }
}

section.success {
  color: white;
  background: $theme-success;
}
@media(max-width:767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    &:focus {
      outline: none;
    }
  }
}
